<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Comment by book</title>
        <link rel="stylesheet" href="../../static/css/tables.css" th:href="@{/css/tables.css}"/>
        <link rel="stylesheet" href="../../static/css/menu.css" th:href="@{/css/menu.css}"/>
    </head>
    <body>
        <div class="widget">
            <h3 class="widget-title">Comment</h3>
            <ul class="widget-list">
<!--                <li><a href="/.html" th:href="@{/book/new}">New book</a></li>-->
                <li><a href="../index.html" th:href="@{/}">Back</a></li>
            </ul>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="'&Prime;' + ${book.title} + '&Prime; ' + ${book.author.fullName}">Book_1</td>
                    <td>
                        <a href="#" th:href="@{/comment/book/{id}(id=${book.id})}" >Show comments</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>