<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
    <link rel="stylesheet" href="../../static/css/tables.css" th:href="@{/css/tables.css}"/>
    <link rel="stylesheet" href="../../static/css/menu.css" th:href="@{/css/menu.css}"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
    <body>
        <div class="widget">
            <h3 class="widget-title">Authors</h3>
            <ul class="widget-list">
                <li><a href="../index.html" th:href="@{/}">Back</a></li>
            </ul>
        </div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody id="genre-list">
                <tr th:remove="all">
                    <td>2</td>
                    <td>Alexander Pushkin</td>
                </tr>
            </tbody>
        </table>
    </body>
    <script>
        jQuery.ajaxSetup({async:false});

        $(function () {
            $.get('/api/genre').done(function (genres) {
                genres.forEach(function (genre) {
                    $('#genre-list').append(`
                        <tr>
                            <td>${genre.name}</td>
                        </tr>
                    `)
                })
            })
        })
    </script>
</html>